<div id="container" class="container-fluid">
	<div class="row">
		<div class="col-xs-3">
			<a href="{downloadURL}"><img class="icon" src="{baseurl}{image}"></a></div>
			<div class="col-xs-8" id="12345">
				<div><h2>{title}</h2></div>
				<div><b>Version:</b> {version}</div>
				<div><b>Size:</b> {size}</div>
				<div><b>Released: </b><span id="releasedDate">{released}</span></div></br>
						
				<script type="text/javascript">		
				var utcTimeInMins = "{utc_created_time}";			
				var dateWithUserOffset = new Date(utcTimeInMins * 1000);
				document.getElementById("releasedDate").innerHTML = dateWithUserOffset.toLocaleString();
				</script>
			
				{buttons}
            
				{releasenotes}
			</div>
		</div>
	</div>
