<div class="container-fluid app-container">
    <div class="col-md-6">
        <div class="container-fluid">
            <div class="app-text col-md-3 text-left"><a href="{download_link}"><img class="icon" width="75" height="75" src="{baseurl}{image}"></a></div>
            <div class="app-text col-md-6 text-left"><a class="app-link" href="{download_link}">{title}</a></div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="container-fluid">
            <div class="app-text col-md-4 text-left">{platform}</div>
            <div class="app-text col-md-6 text-left">{version}</div>
        </div>
    </div>
</div>